---
title: Rails Docs
---

<article class="prose">
  <h1>Rails Docs</h1>

  <% order(current_page.children).each do |section| %>
    <h2><%= section.data.title %></h2>
    <div class="guides">
    <% section.children.each do |page| %>
      <h4><%= link_to_page page %></h4>
      <p><%= page.data.description %></p>
    <% end %>
  </div>
  <% end %>
</article>
