---
title: Rails Docs
layout: article
---

<h2>Build your first Rails app</h2>
<ol class="numbered">
  <li>
    <a href="https://www.ruby-lang.org/en/documentation/installation/">Install Ruby</a>
  </li>

  <li>
      <p>Install Rails and generate your first app</p>
      <pre><code>$ gem install rails
$ rails new demo-app
$ cd new demo-app
$ bin/rails server</code></pre>
  </li>

  <li>
    Read the <a href="/guides">Getting Started with Rails</a> guide
  </li>
</ol>

<hr/>

<h2>Resources</h2>
<p>Whether your a seasons pro or just starting out, these resources will help you get the most out of Rails.</p>

<nav class="not-prose grid md:grid-cols-2 gap-10 justify-items-stretch mt-8">
  <%= render CardComponent.new title: "Guides ðŸ“•", href: "/guides" do %>
    <p>Walk through all the major components of Rails.</p>
  <% end %>
  <%= render CardComponent.new title: "API Docs ðŸ“š", href: "https://api.rubyonrails.org/" do %>
    <p>A reference with all of Rails's classes, methods, and more.</p>
  <% end %>
  <%= render CardComponent.new title: "Plugins ðŸ› ï¸", href: "https://www.ruby-toolbox.com" do %>
    <p>Research which gems work best for extending your Rails applications.</p>
  <% end %>
  <%= render CardComponent.new title: "News & Updates ðŸ“°", href: "/news" do %>
    <p>Updates about Rails, Ruby, the community, and more for the most popular sources.</p>
  <% end %>
</nav>
